:root {
    --player-border: rgba(167, 129, 10);
    --body-color: rgba(36, 40, 45);
    --card-color: rgba(57, 58, 57);
    --health-color: #9b3737;
}

body {
    height: 100vh;
    background-color: var(--body-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    font-family: Bahnschrift;
}
